workflow.sg, www.workflow.sg {
  encode zstd gzip

  reverse_proxy web:80

  handle_path /api/* {
    reverse_proxy api:3000
  }
}


# n8n on subdomain
n8n.workflow.sg {
  encode zstd gzip
  reverse_proxy n8n:5678
}
